@import 'libs/bootstrap-reboot.min';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@import 'base/variables';
@import 'base/fade';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/button';
@import 'blocks/withUs';
@import 'blocks/solutions';
@import 'blocks/advantages';
