@media (max-width: 1200px) {
    .container {
        max-width: 960px
    }
    .main {
        &__phones {
            right: 4%;
            img {
                width: 90%;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px
    }
    .header {
        
    }
    .main {
        &__descr {
            margin-top: 55px;
        }
        &__phones {
            right: 0%;
            img {
                width: 75%;
            }
        }
    }
    .solutions {
        &__tabs {
            width: auto;
        }
        &__link {
            padding-right: 14px;
        }
        .arrow-left {
            left: 0;
        }
        .arrow-right {
            right: 0;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px
    }
    .main {
        &__links {
            display: none;
        }
        &__descr {
            margin-top: 55px;
        }
        &__phones {
            right: -22%;
            img {
                width: 55%;
            }
        }
    }
    .hamburger {
        display: block;
        &_active {
            span {
                display: none;
            }
        }
		&-menu {
            &_active {
                left: 0;
            }
        }	
    }
    .withUs {
        &__card {
            &-text {
                width: 80%;
                font-size: 16px;
                margin-bottom: 20px;
            } 
        }

    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .main {
        &__links {
            display: none;
        }
        &__title {
            width: auto;
            font-size: 35px;
            text-align: center;
        }
        &__text {
            width: auto;
            font-size: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
        &__descr {
            margin-top: 50px;
        }
        &__phones {
            display: none;
        }
        .btn {
            margin: 0 auto;
        }
    }
    .withUs {
        &__wrap {
            grid-template-columns: repeat(1, minmax(auto, 360px));
            justify-content: center;
        }
        &__title {
            font-size: 40px;
        }
        &__arrow {
            margin-bottom: 40px;
        }
        &__card {
            &-text {
                width: 238px;
                font-size: 18px;
            } 
        }

    }
}