
@media (max-width: 1200px) {
    .container {
        max-width: 960px
    }
    .main {
        &__phones {
            right: 4%;
            img {
                width: 90%;
            }
        }
    }
    .options {
        &__title {
            top: 8%;
        }
        &__name {
            font-size: 25px;
            margin-bottom: 10px;
        }
        &__descr {
            font-size: 16px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px
    }
    .header {
        
    }
    .main {
        &__descr {
            margin-top: 55px;
        }
        &__phones {
            right: 0%;
            img {
                width: 75%;
            }
        }
    }
    .solutions {
        &__tabs {
            width: auto;
        }
        &__link {
            padding-right: 14px;
        }
        .arrow-left {
            left: 0;
        }
        .arrow-right {
            right: 0;
        }
    }
    .advantages {
        &__text {
            font-size: 20px;
        }
    }
    .options {
        .options__item:nth-child(2n) .options__name::after {
            width: 150px;
            height: 150px;
        }
        .options__name::after {
            width: 150px;
            height: 150px;
          }
        &__title {
            font-size: 25px;
        }
        &__name {
            font-size: 20px;
            margin-bottom: 10px;
        }
        &__descr {
            font-size: 14px;
            
        }
    }
    .footer {
        &__item {
            margin-right: 10px;
            max-width: 250px;
        }
        .footer__item:last-child {
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px
    }
    .main {
        &__links {
            display: none;
        }
        &__descr {
            margin-top: 55px;
        }
        &__phones {
            right: -22%;
            img {
                width: 55%;
            }
        }
    }
    .hamburger {
        display: block;
        &_active {
            span {
                display: none;
            }
        }
		&-menu {
            &_active {
                left: 0;
            }
        }	
    }
    .withUs {
        &__card {
            &-text {
                width: 80%;
                font-size: 16px;
                margin-bottom: 20px;
            } 
        }

    }
    .solutions {
        &__tabs {
            width: auto;
            padding: 0 10px;
            margin-bottom: 70px;
        }
        &__title {
            width: auto;
        }
        &__link {
            padding-right: 9px;
            font-size: 12px;
        }
        .arrow-left {
            left: 0;
        }
        .arrow-right {
            right: 0;
        }
    }
    .advantages {
        &__wrap {
            grid-template-columns: repeat(2,minmax(270px,570px));
        }
        &__text {
            font-size: 15px;
            height: 100px;
        }
    }
    .options {
        &__wrap {
            grid-template-columns: repeat(1,100%);
        }
        &__title {
            top: 4%;
        }
        &__item {
            img {
                height: 400px;
            }
        }
    }
    .footer {
        .footer__item:first-child {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .main {
        &__links {
            display: none;
        }
        &__title {
            width: auto;
            font-size: 35px;
            text-align: center;
        }
        &__text {
            width: auto;
            font-size: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
        &__descr {
            margin-top: 50px;
        }
        &__phones {
            display: none;
        }
        .btn {
            margin: 0 auto;
        }
    }
    .withUs {
        &__wrap {
            grid-template-columns: repeat(1, minmax(auto, 360px));
            justify-content: center;
        }
        &__title {
            font-size: 40px;
        }
        &__arrow {
            margin-bottom: 40px;
        }
        &__card {
            &-text {
                width: 238px;
                font-size: 18px;
            } 
        }

    }
    .solutions {
        padding-top: 50px;
        &__tabs {
            width: auto;
            height: auto;
            padding: 0 10px;
            margin-bottom: 70px;
            flex-direction: column;
        }
        &__title {
            font-size: 25px;
        }
        &__link {
            width: 100%;
            padding-right: 9px;
            font-size: 12px;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,.7);
        }
    }
    .advantages {
        &__wrap {
            grid-template-columns: repeat(1,minmax(270px,570px));
        }
        &__text {
            font-size: 20px;
            height: 50%;
        }
    }
    .options {
        &__wrap {
            grid-template-columns: repeat(1,100%);
        }
        &__title {
            font-size: 22px;
        }
        &__item {
            img {
                height: 400px;
            }
        }
        &__storage {
            right: 60px;
        }
        .options__item:nth-child(2n) .options__storage {
            left: 60px;
        }
    }
}